* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #FFFFFF;
}
header h1 {
    float: left;
    padding: 15px;
}
header {    /*dasar header*/
    background-color: #ae77e4;
    color: #FFFFFF;
}
header ul {     /*untuk tombol login*/
    float: right;
}
header ul li {  /*supaya tombol login sejajar ma logo unpad*/
    display: inline-block;
}

footer {    /*bagian copyright*/
    padding: 40px 0 5px 0;      /*atas kanan bawah kiri*/
    text-align: center;
}
.container img {    /*atur logo unpad*/
    width: 450px;
    height: 60px;
    float: left;
}
.container {    /*ngatur lebar header*/
    width: 95%;
    margin:0 5px 0 20px; /*urutan margin: atas-kanan-bawah-kiri*/
}
.container:after {      /*supaya header ga ilang*/
    content: '';
    display: block;
    clear: both;
}

/*kolom login*/
.box {      /*untuk kotak update profil dan ubah password*/
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 25px;
    box-sizing: border-box;
    margin: 10px 0 25px 0;
}
.box-login {    /*untuk kotak login*/
    margin: 100px auto 40px;
    width: 240px;
    min-height: 300px;
    border: 1px solid #8c5ec4;
    background-color: #dbaeff;
    padding: 25px;      /*untuk pinggiran sampingnya*/
    box-sizing: border-box;
    float: center;
}
.box-login h2 {      /*untuk Login*/
    text-align: center;
    margin-top: 0px;       /*untuk jarak batas kotak ke 'Login'*/
    margin-bottom: 30px;        /*untuk jarak setelah 'Login' dan kotak NPM*/
    font-size: 18pt;
}
.input-control {     /*untuk isian input*/
    width: 100%;
    padding: 5px;       /*size kotaknya*/
    margin-bottom: 20px;
    box-sizing: border-box;     /*supaya ngga keluar box*/
}
.section {  /*dari header ke konten dashboard*/
    padding: 20px 0;
}
.btn2 {      /*untuk login button*/
    padding: 8px 20px;
    background-color: #8332d3;
    margin-top: 20px;
    margin-left: 60px;
    color:#FFFFFF;
    border:none;
    cursor:pointer;     /*ngerubah bentuk kursor pas nyampe di tombol login*/
}

textarea {
    resize: none;
}

img {
    width: 50px;
    height: auto;
}

#form {
    border-radius: 5px;
    width: 40%;
    margin: auto;
    background-color: #fff;
    padding: 30px;
}

#output {
    /* background-color: #fff; */
    width: 80%;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    padding: 10px 20px;
}