* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: inherit;
    justify-content: center;
    text-decoration: none;
}

header ul h1 {     /*jarak logo unpad ke header*/
    float: left;
    padding: 5px;
}
header {    /*dasar header*/
    background-color: #555555;
    color: #FFFFFF;
}
footer {    /*bagian copyright*/
    padding: 50px 0 5px 0;      /*atas kanan bawah kiri*/
    text-align: center;
}
.container {    /*ngatur lebar header*/
    width: 95%;
    margin:0 10px 0 20px; /*urutan margin: atas-kanan-bawah-kiri*/
}
.container:after {      /*supaya header ga ilang*/
    content: '';
    display: block;
    clear: both;
}
.container2 {       /*ngatur kotak update profil admin*/
    float: left; /*kalo mau rata kiri*/
    margin: 0 0 50px 100px;
}
body {
    background-image: url(images/wallpaper.jpg);
    background-size: 1280px 959px;
}
.container-box {      /*untuk kotak update profil dan ubah password*/
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 25px;
    box-sizing: border-box;
    margin: 10px 0 0 25%;
    width: 50%;

}
/*kolom login*/
.box {      /*untuk kotak update profil dan ubah password*/
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 15px;
    width: 40%;
}
.box3 {      /*untuk kotak update profil dan ubah password*/
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 15px;
    width:75%;
}
.box2 {      /*untuk kotak update profil dan ubah password*/
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 15px;
    width: 90%;
}
.box-login {    /*untuk kotak login*/
    margin: 40px auto 40px;
    width: 310px;
    min-height: 300px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    padding: 25px;      /*untuk pinggiran sampingnya*/
    box-sizing: border-box;
    float: center;
}
.box-login h5 {      /*untuk Login*/
    text-align: center;
    margin-top: 0px;       /*untuk jarak batas kotak ke 'Login'*/
    margin-bottom: 30px;        /*untuk jarak setelah 'Login' dan kotak NPM*/
    font-size: 18pt;
}
.input-control {     /*untuk isian input*/
    width: 80%;
    padding: 3px;       /*size kotaknya*/
    margin: 10px 25px;
    box-sizing: border-box;     /*supaya ngga keluar box*/
}
.section {  /*dari header ke konten dashboard*/
    padding: 20px 0;
}
.btn {      /*untuk login button*/
    padding: 8px 20px;
    margin-right: 2%;
    background-color: #EBECF0;
    margin-top: 3px;
    margin-bottom: 20px;
    border:none;
    cursor:pointer;     /*ngerubah bentuk kursor pas nyampe di tombol login*/
}
.btn-clear {      /*untuk login button*/
    padding: 8px 20px;
    margin-left: 30px;
    color:#FFFFFF;
    border:none;
    cursor:pointer;     /*ngerubah bentuk kursor pas nyampe di tombol login*/
}
.btn2 {      /*untuk login button*/
    padding: 8px 20px;
    background-color: #EBECF0;
    margin-top: 10px;
    color:#000000;
    text-decoration: none;
    border:none;
    cursor:pointer;     /*ngerubah bentuk kursor pas nyampe di tombol login*/
}
.btn-login {      /*untuk login button*/
    padding: 8px 20px;
    background-color: #EBECF0;
    margin-top: 20px;
    margin-left: 95px;
    color:#000000;
    text-decoration: none;
    border:none;
    cursor:pointer;     /*ngerubah bentuk kursor pas nyampe di tombol login*/
}
.btn-register {      /*untuk login button*/
    padding: 8px 20px;
    background-color: #EBECF0;
    color:#000000;
    text-decoration: none;
    text-align: center;
    border:none;
    cursor:pointer;     /*ngerubah bentuk kursor pas nyampe di tombol login*/
}
.btn-alert {      /*untuk login button*/
    padding: 8px 30px;
    background-color: #E74C3C;
    margin-top: 20px;
    color:#FFFFFF;
    text-decoration: none;
    border:none;
    cursor:pointer;     /*ngerubah bentuk kursor pas nyampe di tombol login*/
}
.btn-okay {      /*untuk login button*/
    padding: 8px 20px;
    background-color: #757575;
    margin-bottom: 15px;
    color:#FFFFFF;
    text-decoration: none;
    border:none;
    width: fit-content;
    cursor:pointer;     /*ngerubah bentuk kursor pas nyampe di tombol login*/
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}